.container {
 	display: flex;
 	justify-content: center;
 	align-items: center;
 	flex-direction: column;
 	width: 100%;
 	height: 400px;
}



.range {
 	background: limegreen;
 	height: 100%;
 	border-radius: inherit;
 	transition: width .3s ease-in;
}

.toggle-buttons button {
 	margin: 0 10px;
 	padding: 7px 20px;
 	border-radius: 5px;
 	outline: 0;
 	cursor: pointer;
}

.toggle-buttons button:hover {
 	color: rgb(151, 47, 47);
 	background: #666;
}

.progress-bar {
    width:90%;
    height:30px;
    position:relative;
    background:#555;
    padding:10px;
    margin:20px;
    text-align:center;
    -webkit-border-radius:25px;
    -moz-border-radius:25px;
    -ms-border-radius:25px;
    border-radius:25px;
    -webkit-box-shadow:0 0 -1px 1px rgba(255,255,255,0.3);
    -moz-box-shadow:0 0 -1px 1px rgba(255,255,255,0.3);
    box-shadow:0 0 -1px 1px rgba(255,255,255,0.3)
}
.progressbar-value {
    height:100%;
    display:block;
    background-color:#2BC253;
    background-image:linear-gradient(center bottom, #2bc253 37%, #54f054 69%);
    position:relative;
    overflow:hidden;
    -webkit-border-radius:20px 8px 8px 20px;
    -moz-border-radius:20px 8px 8px 20px;
    -ms-border-radius:20px 8px 8px 20px;
    border-radius:20px 8px 8px 20px;
    -webkit-box-shadow:inset 0 2px 9px rgba(255,255,255,0.3);
    -moz-box-shadow:inset 0 2px 9px rgba(255,255,255,0.3);
    box-shadow:inset 0 2px 9px rgba(255,255,255,0.3);
    -webkit-box-shadow:inset 0 -2px 6px rgba(0,0,0,0.4);
    -moz-box-shadow:inset 0 -2px 6px rgba(0,0,0,0.4);box-shadow:inset 0 -2px 6px rgba(0,0,0,0.4)}

    .progressbar-label{position:relative;top:-24px;color:#FFFFFF;font-size:16px;font-weight:bolder}

.progressbar-value.span {
    content:"";
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background-image:linear-gradient(-45deg, rgba(255,255,255,0.2) 25%, transparent 25%, transparent 50%, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0.2) 75%, transparent 75%, transparent);
    z-index:1;
    background-size:50px 50px;
    overflow:hidden;
    animation:move 2s linear infinite;
    -webkit-border-radius:20px 8px 8px 20px;
    -moz-border-radius:20px 8px 8px 20px;
    -ms-border-radius:20px 8px 8px 20px;
    border-radius:20px 8px 8px 20px
}
.progressbar-body .progressbar-label{position:relative;top:-24px;color:#FFFFFF;font-size:16px;font-weight:bolder}

